:root {
  --main-dark: #0f5298;
  --secondary-dark: #2565ae;
  --main-light: #d5f3fe;
  --secondary-light: #66d3fa;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  min-width: 30rem;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-dark);
  font-family: Arial, Helvetica, sans-serif;
}
body.overlay {
  overflow: hidden;
}
body.dark-theme {
  background-color: gray;
  color: white;
}
.margin-left-auto {
  margin-left: auto;
}
.display-flex-full-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  background-color: inherit;
}
.error-page {
  display: flex;
  flex-direction: column;
  padding:2rem 2rem;
  flex: 1 1 auto;
  background-color: var(--main-light);
}
#error-message{
  font-size:2rem;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--main-dark);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#user-name {
  font-size: 3rem;
  margin: 0;
}
#user-username {
  margin: 0;
}
#user-player-id {
  margin: 0;
}

.results-page {
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--main-light);
}

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  border-bottom: 0.1rem solid var(--main-dark);
  align-items: center;
  background-color: var(--secondary-light);
  padding: 0 2rem;
}

.home-icon-link,
.profile-icon-link {
  border-radius: 1rem;
}
.home-icon-link {
  margin: 0.25rem 0.25rem 0.25rem 0;
}
.profile-icon-link {
  margin: 0.25rem 0 0.25rem auto;
}

.navbar-icon {
  display: inline-block;
  caret-color: transparent;
  color: var(--main-dark);
  font-size: 3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--main-dark);
  transition: background-color 0.4s;
}
.profile-icon {
  display: inline-block;
  caret-color: transparent;
  color: var(--main-dark);
  font-size: 3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.4s;
}
.navbar-icon:hover,
.profile-icon:hover {
  background-color: var(--main-light);
  transition: background-color 0.4s;
}
.nav-item {
  display: inline-block;
}

.nav-link {
  display: inline-block;
  color: var(--main-dark);
  text-decoration: none;
  border-radius: 1rem;
  border: solid 0.1rem transparent;
  padding: 0.5rem 2rem;
  margin: 0.25rem;
  font-weight: 500;
  font-size: 2rem;
  transition: background-color 0.4s;
}
.nav-link:hover {
  background-color: var(--main-light);
  transition: background-color 0.4s;
}

.timeline-nav-items {
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
}

.no-text-decoration {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.search-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  background-color: var(--main-light);
}
.loading-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 2rem;
  width: 100%;
  background-color: var(--main-light);
}

.search-input,
.search-button {
  font-size: inherit;
  box-sizing: content-box;
  margin-bottom: 3rem;
  padding: 0.1rem 0.25rem 0.1rem 0.5rem;
}
.search-input {
  border: 0.1rem solid var(--main-dark);
  border-radius: 1rem 0 0 1rem;
  min-width: 0;
  flex: 1 1 auto;
}
.search-button {
  border: 0.1rem solid var(--main-dark);
  border-radius: 0 1rem 1rem 0;
}

.search-form {
  display: flex;
  width: 50%;
  font-size: 2rem;
}

.full-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-icon {
  font-size: 5rem;
  margin: 2rem 0 1rem 0;
}
.float-right {
  float: right;
}
.burger {
  display: none;
  caret-color: transparent;
  background: none;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  padding: 0.25rem;
  border: none;
}

.burger-line {
  height: 0.25rem;
  width: 2rem;
  border-radius: 0.25rem;
  background-color: var(--main-dark);
  transition: transform 0.4s;
}
.burger-line:nth-child(2) {
  margin: 0.5rem 0;
}
.rotated:first-child {
  transform: translate(0, 0.75rem) rotate(45deg);
}
.rotated:nth-child(2) {
  transform: translate(-150%, 0);
}
.rotated:last-child {
  transform: translate(0, -0.75rem) rotate(-45deg);
}

.x {
  position: relative;
  left: -100%;
  height: 2.5rem;
  caret-color: transparent;
  background: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0.25rem;
  border: none;
  vertical-align: top;
  pointer-events: none;
  transition: left 0.4s;
}
.x.clicked {
  left: 0;
  pointer-events: auto;
  transition: left 0.4s;
}
.x-line {
  height: 0.25rem;
  width: 2rem;
  border-radius: 0.25rem;
  background-color: white;
  transition: transform 0.4s;
}
.x-line:first-child {
  margin-bottom: 0.75rem;
  transform: translate(0, 0.5rem) rotate(45deg);
}
.x-line:last-child {
  margin-top: 0.75rem;
  transform: translate(0, -0.5rem) rotate(-45deg);
}

#overlay {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  color: var(--main-light);
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background-color 0.4s;
}
#overlay-nav {
  display: inline-block;
  position: relative;
  left: -100%;
  width: 40%;
  margin: 0;
  padding: 0;
  min-width: 10rem;
  height: 100%;
  background-color: var(--secondary-dark);
  overflow: auto;
  list-style: none;
  transition: left 0.4s;
}
.overlay-nav-link {
  width: inherit;
  height: inherit;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--main-light);
  transition: color 0.4s, background-color 0.4s;
}
.overlay-nav-link:hover {
  color: var(--main-dark);
  background-color: var(--secondary-light);
  transition: color 0.4s, background-color 0.4s;
}

#overlay.clicked {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.4s;
}
#overlay-nav.clicked {
  left: 0;
  transition: left 0.4s;
}

@media only screen and (max-width: 60rem) {
  .navbar {
    justify-content: space-between;
  }

  .timeline-nav-items {
    display: none;
  }

  .burger {
    display: block;
  }
  .display-none-at-size {
    display: none;
  }
}
